# server 
/server/dist
/server/node_modules
/server/build/
/server/out/

# compiled output
/client/dist
/client/node_modules
/client/build/
/client/out/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# Build
build/
out/

# Tests
/coverage
/.nyc_output

# Environment variables
.env

# Dependency directories
yarn-error.log

# Docker
Dockerfile
docker-compose.yml

# Kubernetes
k8s/

# OS
.DS_Store
